.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    overflow: auto;
    min-height: 100vh;
    width: 100%;
}

nav {
  z-index: 12000;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    width: 78px;
    height: 100%;
    background: #11101d;
    transition: all 0.5s ease;
    
}

.menu--active {
    width: 240px;
}

.menu--active .logo{
    opacity: 1;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
} 

.logo__img {
    font-size: 28px;
    margin-right: 5px;
}

.logo__img {
    font: bold 20px;
}

#btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.menu--active #btn {
    left: 88%;
}

.menu__list {
    margin-top: 20px;
    padding-left: 0;
}

.menu__item {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    cursor: pointer;
}

.menu__link {
    display: flex;
    align-items: center;
    color:#fff;
    border-radius: 12px;
    white-space: nowrap; /*El texto nunca pasa a la siguiente linea hasta que encuentra una <br>*/
    transition: all 0.4s ease;
    text-decoration: none;
}
.menu__link:hover{
    color: #11101d;
    background: #fff;
    text-decoration: none;
}

.menu__icon {
    min-width: 50px;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.menu__text {
    opacity: 0;
    pointer-events: none; /*Anula el efecto del cursor y por lo tanto el hover*/
    transition: all 0.5s ease;
}

.menu--active .menu__text {
    opacity: 1;
    pointer-events: auto; /*Activa el cursor y por lo tanto el hover*/
}

.menu__tooltip {
    position: absolute;
    top:50%;
    left: 122px;
    width: 122px;
    height: 35px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    line-height: 35px;
    text-align: center;
    pointer-events: none; /*Anular evento del puntero*/
    transform: translate(-50%, -50%); /*Acercar el tooltip*/
    transition: 0s;
    display: block;

}

.menu--active .menu__tooltip {
    display: none;
}

.menu__item:hover .menu__tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
    color: black;
}

.menu__search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    color: #fff;
    border: none;
    border-radius: 12px;
    outline: none;
    background: #1d1b31;
    font-size: 18px;
}

.menu__icon--search {
    position: absolute;
    z-index: 99;
    color: #fff;
    transition: all 0.5s ease;
}

.menu__icon--search:hover{
    background: #fff;
    color:#1d1b31;
}

.profile-container {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 10px 6px;
    background: none;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.menu--active .profile {
    opacity: 1;
    pointer-events: auto;
    background-color: #1d1b31;
}

.profile__avatar {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile__details{
    margin-left: 10px;
}


.profile__name {
    font-size: 15px;
    font-weight: 400;
}

.profile__job {
    font-size: 12px;
}

.profile__logout{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s ease;
    background-color: #1d1b31;
}

.menu--active .profile__logout {
    left: 88%;
    background-color: none;
}

.home__content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home__text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.menu--active ~ .home__content{
    width: calc(100% - 240px);
    left: 240px;;
}

header {
  margin-bottom: 2em;
}

.btn-wrapper{
  margin-bottom: 0.3em;
}
.sections-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
}

.module {
  width: 17em;
  height: 15em;
  background: #0b8938;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in 0.3s;
  
  border-radius: 8px;
}

.module-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2em;
  gap: 3em;
}

.module-container-image {
  height: 16em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-container a{
  color: initial;
  text-decoration: none;
}

.module-text{
  text-align: center;
  text-decoration: none;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 5em;
  transition: ease-in 0.2s;
}

.link-section > *{
  text-decoration: none;
}

.link-section {
  text-decoration: none;
  transition: ease-in 0.2s;
}

.link-section:hover{
  text-decoration: none;
  transform: scale(1.09);
}

.link-section:hover .module {
  background-color: #fafafa;
}

.link-section:hover .icon {
  color: #0b8938;
}

.link-section:hover .text-container {
  background-color: #0b8938;
}

.link-section:hover .module-text{
  color: #fafafa;
}

.icon {
  font-size: 6em;
  color: white;
  transition: ease-in 0.2s;
}

.module-text {
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
  color: #0b8938;
  transition: ease-in 0.2s;
  padding-inline: 0.2em;
}

.list-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-wrapper {
  margin-bottom: 1em;
}

.vehicles-details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.vehicles-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  padding: 1em 1.5em;
  gap: 1.5em;
}

.custom{
  flex-direction: column;
}
.detail-item {
  width: 48%;
  border: 2px solid #000;
  padding: 0.5em;
}

.vehicle-detail-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.vehicle-detail-img i{
  font-size: 14em;
  color: linear-gradient(34deg, rgba(42,44,168,1) 34%, rgba(10,152,238,1) 69%);
}

.custom-container{
  display: flex;
    justify-content: space-between;
}

.table-icon-options{
  display: flex;
  width: 5em;
  justify-content: space-evenly;
  margin-inline: auto;
  
}